In [65]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [66]:
path = r"C:\Users\HP\Downloads\data.csv"
df = pd.read_csv(path, dtype={0:'str'})
df.head()

,fullVisitorID,visitNumber,date,bounces,hits,pageviews,timeOnSite,transactionRevenue,transactions,source,channelGrouping,browser,deviceCategory,country,city
0,8533875475515924645,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Australia,Sydney
1,4874599869430831185,2,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,mobile,Turkey,Istanbul
2,0361954421372951638,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Russia,Moscow
3,8751850432978942600,2,20170205,1.0,1,1.0,NaN,NaN,NaN,bing,Organic Search,Edge,desktop,United States,not available in demo dataset
4,2451058030378352110,1,20170205,1.0,1,1.0,NaN,NaN,NaN,(direct),Organic Search,Chrome,desktop,Indonesia,not available in demo dataset

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392892 entries, 0 to 392891
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fullVisitorID       392892 non-null  object
 1   visitNumber         392892 non-null  int64
 2   date                392892 non-null  int64
 3   bounces             195964 non-null  float64
 4   hits                392892 non-null  int64
 5   pageviews           392856 non-null  float64
 6   timeOnSite          196399 non-null  float64
 7   transactionRevenue  5277 non-null    float64
 8   transactions        5277 non-null    float64
 9   source              392892 non-null  object
 10  channelGrouping     392892 non-null  object
 11  browser             392892 non-null  object
 12  deviceCategory      392892 non-null  object
 13  country             392892 non-null  object
 14  city                392892 non-null  object
dtypes: float64(5), int64(3), object(7)
memory usage: 45.0+ MB

In [68]:
df[df.duplicated()]

Empty DataFrame
Columns: [fullVisitorID, visitNumber, date, bounces, hits, pageviews, timeOnSite, transactionRevenue, transactions, source, channelGrouping, browser, deviceCategory, country, city]
Index: []

In [69]:
# Se ajuta forma de fechas.
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d').dt.date

In [70]:
# Se determina rango de tiempo contemplado.
date = df['date']
print(f"Tenemos información desde {date.min()} hasta {date.max()}.")

Tenemos información desde 2017-01-01 hasta 2017-06-30.

In [71]:
# ¿Cuántas visitas por visitor hay? 
df['fullVisitorID'].value_counts()

fullVisitorID
1957458976293878100    135
7634897085866546110    116
3148617623907142276    112
3525537916960843419    111
6018775317735347795    102
                      ...
984901111924029842       1
1301304072885324590      1
9562006476713181017      1
4910507032070150816      1
0498654448376969495      1
Name: count, Length: 308130, dtype: int64

In [72]:
# Se observa que los visitors ya tenían datos antes.

In [73]:
df[df['fullVisitorID']=='1957458976293878100']['visitNumber'].min()

np.int64(176)

In [74]:
df[df['fullVisitorID']=='1957458976293878100']['visitNumber'].max()

np.int64(315)

In [75]:
315 - 176

139

In [76]:
# Deberían haber 139 pero hay 135 registros para ese visitor. ¿A qué se debe la pérdida de registros de visitas?

In [77]:
ver = sorted(df[df['fullVisitorID']=='1957458976293878100']['visitNumber'].to_list())

for i in range(len(ver)-1):
    if ver[i] + 1 != ver[i+1]:
        print(ver[i+1])

251
311
315

In [78]:
df[df['fullVisitorID']=='1957458976293878100'].groupby(['fullVisitorID', 'visitNumber']).size().sort_values(ascending=False)

fullVisitorID        visitNumber
1957458976293878100  176            1
                     177            1
                     178            1
                     179            1
                     180            1
                                   ..
                     308            1
                     309            1
                     311            1
                     312            1
                     315            1
Length: 135, dtype: int64

In [79]:
len(df[df['visitNumber']==1])

298788

In [80]:
df['bounces'] = df['bounces'].fillna(0).astype(int)


#df.fillna({'bounces': 0}, inplace=True)
#df = df.astype({'bounces': int})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392892 entries, 0 to 392891
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   fullVisitorID       392892 non-null  object
 1   visitNumber         392892 non-null  int64
 2   date                392892 non-null  object
 3   bounces             392892 non-null  int64
 4   hits                392892 non-null  int64
 5   pageviews           392856 non-null  float64
 6   timeOnSite          196399 non-null  float64
 7   transactionRevenue  5277 non-null    float64
 8   transactions        5277 non-null    float64
 9   source              392892 non-null  object
 10  channelGrouping     392892 non-null  object
 11  browser             392892 non-null  object
 12  deviceCategory      392892 non-null  object
 13  country             392892 non-null  object
 14  city                392892 non-null  object
dtypes: float64(4), int64(3), object(8)
memory usage: 45.0+ MB

In [81]:
df['bounces'].unique()

array([1, 0])